---
layout: archive
---

{{ content }}

I am a Mathematics and Computer Science Double Major from Williams College. I am currently employed at JP Morgan and Chase as 
a software engineer. My areas of interest include Tropical Geometry, Combinatorics, Graph Theory, and Computer Science education. 

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Links" }}</h3>

<h3 class="archive__subtitle2">{{ site.data.ui-text[site.locale].recent_posts | default: "Projects" }}</h3>
